<!DOCTYPE html>
<html>
    
    <head>

        <meta charset="UTF-8">
        <title>
            Lista de Livros
        </title>

    </head>

    <body>
        <div class="content">
            {% block livros %}
                <table style="border: 1px solid #CCCCCC; width: 100%">
                    <thead style="background-color: black; color: white; font-weight: bolder; text-transform: uppercase;">
                        <tr>
                            <td>Código do Livro</td>
                            <td>Nome do Livro</td>
                            <td>Autor</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for livro in livros %}
                            <tr>
                                <td>{{ livro.codigo }}</td>
                                <td>{{ livro.nome }}</td>
                                <td>{{ livro.autor }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
    </body>
</html>